body{
	margin:0;
	overflow-x: hidden;


}
/*==============NavBar===========*/
.Nav__bg{
	background-color: transparent;
	border-color: #444;
	z-index: 110;
	transition: all 1s;

}
.Nav__a {
color: black;
transition: all 1s;
}
.Nav__Text{
	font-size: 1.2rem;
}
.cart__icon{
	margin-top: 15px;
	color: white;
}
.cart__icon:hover{
	color: #849925;
	cursor: pointer;
}

@media  (min-width: 1100px){
	.signup__mr{
	margin-left:10px;
}
}

@media  (max-width: 700px){
	.signup__mr{
	margin-left:0px;
}
}
/*================Header Section======*/
.Header__section{

   
	background-image: url("../img/back.png");
	width: 100%;
    
     margin-top: -300px;
  	height: 700px;

	
}
/*

.Header__section div h1{
	margin-top: -500px;
	margin-left: 3%;
	font-weight: bold;
	color: white;
}
.img{
	height: 200px;
	width: 300px;

}
.Header__section div img{
	height: 600px;
	width: 100%;
}

.btns{
	color: white;

	margin: 200px 30px 0 30% ;
}
.btns:hover{
	color:black;
}*/
.btn__sell,
.btn__sell:focus,
.btn__sell:active,
.btn__sell:visited
{
 
    background-color:#a9c52f ;
    border-color: white;
  

   
   
    margin-top: 300px;
    margin-left:1%;

    font-size: 19px;
   
    border-radius: 30px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
     -o-transition: all 1s;

}
.btn__sell:hover {
    background-color: transparent;
      
}



/*===============BodySection==========*/
.body__Section{
/*	margin-top: 10px;*/
	overflow-x: hidden;
}
.card__pad{
	padding: 4% 4% 0 4%;

}
.card__shadow{
	box-shadow: 3px 3px 3px gray;
}
.card__hover:hover{
	background-color: #a9c52f;
	color: white;
	cursor: pointer;
	

}
/*================Pagination================*/
.Pagination{
	margin-top: 10%;
	margin-bottom: 5%;
}
/*================Footer================*/
.footer{
	background-color: #a9c52f;
	height: 100px;
	margin-top: 7%;

}
.footer div p{
	padding-top: 35px;
	color: white;
	margin:auto;

}
.footer div p a{
	text-decoration: none;
	color: white;

}

